In [66]:
import pandas as pd
arquivo = pd.read_csv('./wine_dataset.csv')

In [67]:
arquivo.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [68]:
arquivo['style']= arquivo['style'].replace('red',0)

In [69]:
arquivo['style']= arquivo['style'].replace('white',1)

In [70]:
y = arquivo['style']
x= arquivo.drop('style', axis=1)

In [71]:
from sklearn.model_selection import train_test_split

#criando conjunto de dados treino e teste
x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size= 0.3)

In [72]:
x_teste

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
4026,8.1,0.34,0.28,7.5,0.040,70.0,230.0,0.99558,3.14,0.55,9.80,6
6157,5.9,0.21,0.23,7.9,0.033,22.0,130.0,0.99440,3.38,0.59,10.90,6
933,7.4,0.61,0.01,2.0,0.074,13.0,38.0,0.99748,3.48,0.65,9.80,5
3907,9.4,0.28,0.30,1.6,0.045,36.0,139.0,0.99534,3.11,0.49,9.30,5
1515,6.9,0.84,0.21,4.1,0.074,16.0,65.0,0.99842,3.53,0.72,9.25,6
...,...,...,...,...,...,...,...,...,...,...,...,...
4094,6.3,0.18,0.22,1.5,0.043,45.0,155.0,0.99238,3.19,0.48,10.20,5
884,8.8,0.61,0.19,4.0,0.094,30.0,69.0,0.99787,3.22,0.50,10.00,6
5319,6.3,0.34,0.27,2.5,0.024,40.0,152.0,0.99095,3.35,0.60,11.90,7
5886,7.6,0.28,0.17,1.6,0.046,28.0,117.0,0.99288,3.08,0.43,10.00,5
1995,8.2,0.28,0.42,1.8,0.031,30.0,93.0,0.99170,3.09,0.39,11.40,5

In [73]:
from sklearn.ensemble import ExtraTreesClassifier
#criando modelo
modelo = ExtraTreesClassifier(n_estimators=100)
modelo.fit(x_treino, y_treino)

#Imprimir resultados:
resultado =  modelo.score(x_teste, y_teste)
print("Acuraria :", resultado)

Acuraria : 0.9969230769230769

In [81]:
y_teste

4026    1
6157    1
933     0
3907    1
1515    0
       ..
4094    1
884     0
5319    1
5886    1
1995    1
Name: style, Length: 1950, dtype: int64

In [82]:
x_teste

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
4026,8.1,0.34,0.28,7.5,0.040,70.0,230.0,0.99558,3.14,0.55,9.80,6
6157,5.9,0.21,0.23,7.9,0.033,22.0,130.0,0.99440,3.38,0.59,10.90,6
933,7.4,0.61,0.01,2.0,0.074,13.0,38.0,0.99748,3.48,0.65,9.80,5
3907,9.4,0.28,0.30,1.6,0.045,36.0,139.0,0.99534,3.11,0.49,9.30,5
1515,6.9,0.84,0.21,4.1,0.074,16.0,65.0,0.99842,3.53,0.72,9.25,6
...,...,...,...,...,...,...,...,...,...,...,...,...
4094,6.3,0.18,0.22,1.5,0.043,45.0,155.0,0.99238,3.19,0.48,10.20,5
884,8.8,0.61,0.19,4.0,0.094,30.0,69.0,0.99787,3.22,0.50,10.00,6
5319,6.3,0.34,0.27,2.5,0.024,40.0,152.0,0.99095,3.35,0.60,11.90,7
5886,7.6,0.28,0.17,1.6,0.046,28.0,117.0,0.99288,3.08,0.43,10.00,5
1995,8.2,0.28,0.42,1.8,0.031,30.0,93.0,0.99170,3.09,0.39,11.40,5

In [93]:
previsao= modelo.predict(x_teste[0:-1])

In [94]:
print(previsao)

[1 1 0 ... 0 1 1]

In [99]:
previsao = previsao == y_teste[0:-1]

In [113]:
previsao.columns

AttributeError: 'Series' object has no attribute 'columns'